<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="modal" id="aboutModal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Om mig</h5>
            </div>
            <div class="modal-body">
                <div class="container align-items-center mx-auto">
                    <div class="row ">
                        <img src="johan.jpg" class="w-100 text-center" style="border-radius: 50%">
                    </div>
                    <div class="row">
                        <span class="w-100 text-center">Johan Larsson</span>
                    </div>
                    <div class="row">
                        <span class="w-100 text-center">Tel: +4678665260</span>
                    </div>
                    <div class="row">
                        <a href="mailto:jola04@gmail.com" class="w-100 text-center">jola04@gmail.com</a>
                    </div>
                    <div class="row">
                        <a href="https://www.linkedin.com/in/johanlarsson04/" class="w-100 text-center" e>LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>